<h3>post a comment</h3>

<%= form_for [@article, @comment] do |f| %>
	<p class="comment_form">
		<%= f.label :author_name, "your name", :class => "comment_subtitle" %><br>
		<%= f.text_field :author_name, :class => "comment_text", placeholder: "What's your name?"%>
	</p>
		<%= f.label :body, "your comment", :class => "comment_subtitle" %><br>
		<%= f.bootsy_area :body %><br><br>
	<p>
		<%= f.submit 'submit here', :class => "confirm_button" %>
	</p>
<% end %>