<h3>post a comment</h3>

<%= form_for [@article, @comment] do |f| %>
	<p class="comment_form">
		<%= f.label :author_name, "your name", :class => "comment_subtitle" %><br>
		<%= f.text_field :author_name, :class => "comment_text" %>
	</p>
	<p>
		<%= f.label :body, "your comment", :class => "comment_subtitle" %><br>
		<%= f.text_area :body, :class => "comment_text" %><br><br>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>