
<div class="article-form">
	<%= form_for(@article, html: {multipart: true}) do |f| %>
		<% if @article.errors.any? %>
			<ul>
				<% @article.errors.full_messages.each do |error| %>
				<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>
			<%= f.label :title, "article title", class: "article-label"%><br>
			<%= f.text_field :title %>
				<br><br><br>
			<%= f.label :body, "content", class: "article-label" %><br>
			<%= f.bootsy_area :body, class: "article-area" %>
				<br><br><br>
			<%= f.submit 'submit here', class: "confirm-button" %>
		</p>
	<% end %>
</div>