<%= form_for(@article, html: {multipart: true}) do |f| %>
	<ul>
		<% @article.errors.full_messages.each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>

	<p>
		<%= f.label :title, "title", :class => "form_subtitle"%><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body, "content", :class => "form_subtitle" %><br>
		<%= f.text_area :body %>
	</p>
	<p class="form_image">
	  <% if @article.image.exists? %>
	      <%= image_tag @article.image.url %><br/>
	  <% end %>
	  <%= f.label :image, "attach an image", :class => "form_subtitle" %><br />
	  <%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>