<!-- GO BACK TO ROOT BUTTON -->
<a href="<%= root_path %>" class='home-button'>
	<i class="fa fa-chevron-left"></i>
</a>

<!-- THE POST BODY -->
<div class="current-article">
	<h1 class='title'><b><%= @article.title.html_safe %></b></h1>

	<% if logged_in? %>
		<div class="edit-delete">
			<%= link_to "edit post", edit_article_path(@article) , class: "confirm-button" %> &nbsp;
			<%= link_to "delete post", article_path(@article) , method: :delete, data: {confirm: 'Are you sure?'}, class: "confirm-button" %>
		</div>
	<% end %>

	<p class="current-article-date"><%= @article.created_at.strftime('%B %d, %Y') %></p>
	<p class="current-article-body"><%= @article.body.html_safe %></p>

	<p class="current-article-image">
		<% if @article.image.exists? %>
      <%= image_tag @article.image.url(:medium).html_safe %><br/>
  	<% end %>
	</p>
</div>


<!-- COMMENT SECTION -->
<div class='comment-section'>
	<% if @comments.size < 1 %>
		<h3>No comments yet</h3>
	<% elsif @comments.size == 1 %>
		<h3><%= @comments.size %>&nbsp;Comment</h3>
	<% else %>
		<h3><%= @comments.size %>&nbsp;Comments</h3>
	<% end %>
	<%= render partial: "comment", collection: @comments %>
</div>

<%= render partial: "comments/form" %>