<!DOCTYPE html>
<html>
<head>
  <title>Johnny Ji</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'application', 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<div class="app-wrapper">
<body>
  <%= tinymce_assets %>
  <p class="flash"><%= flash.notice %></p>

  <!-- YIELD CONTENT -->
  <%= yield %>

  <footer>
    &copy; <%= I18n.t("date.abbr_month_names")[Date.today.month] %> <%= Time.now.year %> Johnny Ji | Check out my portfolio 
    <a href="http://www.johnnyji.com/" target="_blank">here!</a>
    <% if logged_in? %> 
      <%= link_to "Logout", logout_path %> 
    <% end %>
  </footer>
  <%= tinymce %>
</body>
</div>
</html>
